services:
  noisy-app:
    build:
      context: ./noisy-app
    container_name: bugradar-noisy
    environment:
      APP_NAME: "noisy-app"
    ports:
      - "5000:5000"
    labels:
      - bugradar=true

  agent:
    build:
      context: ./agent
    container_name: bugradar-agent
    environment:
      BUGRADAR_API_URL: "http://host.docker.internal:3000/api/logs"
      BUGRADAR_UPTIME_API_URL: "http://host.docker.internal:3000/api/uptime"
      BUGRADAR_UPTIME_TARGET_URL: "http://bugradar-noisy:5000/health"
      BUGRADAR_USER_ID: "25df85fe-2c35-4241-96f9-7c72cc7d90ab"
      BUGRADAR_CONTAINERS: "bugradar-noisy"   # lee solo la ruidosa
      BUGRADAR_TAIL: "50"
      BUGRADAR_PARSE_JSON: "1"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    depends_on:
      - noisy-app
