
services:
  noisy-app:
    build:
      context: ./noisy-app
    container_name: noisy-app
    ports:
      - "5000:5000"
    labels:
      - bugradar=true
    environment:
      APP_NAME: "noisy-app"

  bugradar-agent:
    image: bugradar/agent:latest
    container_name: bugradar-agent
    restart: always
    environment:
      BUGRADAR_API_KEY: "proj_fe0c20f740bd45fd88e709b881609229"
      BUGRADAR_API_URL: "http://host.docker.internal:3000/api/logs"
      BUGRADAR_LATENCY_API_URL: "http://host.docker.internal:3000/api/latency"
      BUGRADAR_DISCOVER_BY_LABEL: "bugradar=true"
      BUGRADAR_CONTAINERS: "noisy-app"
      BUGRADAR_TAIL: "100"
      BUGRADAR_PARSE_JSON: "1"
      PYTHONUNBUFFERED: "1"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - bugradar-net

networks:
  bugradar-net:
    driver: bridge
